[defaults]
retry_files_enabled = False
pipelining = True
hash_behaviour = merge
vault_password_file = vault_pass

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null